/* design by nguyen van dung*/
body {
    background: greenyellow;
}
#container {
    border: solid 1px #ccc;
    background: #fff;
}
#header h1,h3 {
text-align: center;
color: green;
}
#header #logo a img {
    width: 150px;
    height: 150px
        
}
#content-area {
    padding: 10px;
}
#footer h3 {
    padding: 30px 0px;
    border-top: dotted 1px #ccc;
     color: #DF6300
}
#right-contain .submit {
    margin-top: 10px
}
#wallet {
    padding: 30px
}
#btn-save-wallet {
    margin-top: 10px
        
}